body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    margin: 0;
    padding: 20px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    flex-wrap: wrap;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}